.socials {
  padding: 55px 20px 65px;
  text-align: center;
  color: var(--color-main-black);
}

.socials-title {
  font-size: 34px;
  font-weight: 700;
  color: var(--color-main-black);
  margin: 0 0 20px 0;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
}

.social-icon {
  width: 65px;
  height: 65px;
  fill: var(--color-main-black);
  margin: 0 0 0 0;
}

/* .social-icon:hover {
  fill:lightcoral
} */

@media (max-width: 1440px) {
  .links {
    flex-wrap: wrap;
  }
}